{% macro render(field) %}
    <div style="text-align: center">
        <input type="checkbox" name="{{ field.name }}" id="{{ field.id }}" value="1" autocomplete="off" {{ (field.value ? 'checked="checked"' : '') }} {{ field.getDataAttributeString()|raw }}>
    </div>
{% endmacro %}
