<style>
    .perc5-padding {
        padding: 15px 5% 0;
    }
</style>
<div class="perc5-padding">
    <ion-button expand="block" id="delete-time-log">Submit Time log</ion-button>
</div>
<script>
    $(document).on('click.time-log-delete-{{ pid }}', "#delete-time-log", function() {
        window.ACE.API.POST('{{ formUrl }}', {}).then(function(resp){
            if (resp.json.status) {
                window.ACE.Mulch.closeCurrent("main_navigator");
            }
        });
    });
</script>